VITE_SUPABASE_URL=https://xraqvvkmmntqzeegdmqe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyYXF2dmttbW50cXplZWdkbXFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIwNTg5MjUsImV4cCI6MjA2NzYzNDkyNX0.hEEXMuqmE17q-I3sKqN9v0B1ns-excT1jQA-8PlfYa8